{
  "extends": "airbnb-base",
  "rules": {
    "strict": "off",
    "no-console": "off",
    "newline-per-chained-call": [
      "error",
      {
        "ignoreChainWithDepth": 5
      }
    ]
  }
}
